### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/
/task/photo_1_2026-03-13_14-30-48.jpg
/task/photo_2_2026-03-13_14-30-48.jpg
/task/photo_3_2026-03-13_14-30-48.jpg
/task/photo_4_2026-03-13_14-30-48.jpg
/task/photo_5_2026-03-13_14-30-48.jpg
/task/photo_6_2026-03-13_14-30-48.jpg
/task/photo_7_2026-03-13_14-30-48.jpg
/task/photo_8_2026-03-13_14-30-48.jpg
/taya.iml
